<!DOCTYPE html>
<html>
<head>
	<title>Url Shortner</title>
	<link rel="stylesheet" type="text/css" href="https://jenil.github.io/bulmaswatch/journal/bulmaswatch.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<section class="hero is-medium is-link is-bold">
	  <div class="hero-body">
	    <div class="container">
	      <h1 class="title is-1">
	        404 
	      </h1>
	      <h2 class="subtitle">
	      	Page Not Found
	      </h2>
	    </div>
	  </div>
	</section>
	<div>
		<h2 class="title is-2 not_found"><span class="has-text-primary"><%= name%></span> was not found.<h2>
		<h2 class="title is-3" style="text-align: center; margin-top:1em">You can create it<a href="/"> here</a></h2>
	</div>	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script></script>
</body>
</html>