.main{
	width:80%;
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;
}

.shrink-btn{
	text-align: center;
}

.short-url{
	margin-top: 3em;
	text-align: center;
}

.header{
	text-align: center;
	font-size: 4em;
}

.not_found{
	text-align :center;
	margin-top: 3em;
}